h1{
  text-align: center;
  background-color: #E6E6FA;
}

.index{
  background-color: #e0ffff;
}

li{
  background-color: #FFF0F5;
}

p{
  letter-spacing: 1px;
}

.wrap{
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  height: 200px;
  background: #b3d4d1;
  display: flex;
  margin 10px;
}
