h1{
  text-align: center;
  background-color: #E6E6FA;}

.index{
  background-color: #e0ffff;}

li{
  line-height: 150%;}

p{
  letter-spacing: 1px;}

.wrap{
  border: 3px solid black;
  display: flex;
  width: 857px;
  height: 200;
  background: #F5F5DC;
  margin: 0 auto;}

.content{
  display: flex;
  width: 348px;
  align-items: center;
  justify-content: center;}
